/Uwl.Admin/Uwl.Attribute/obj
/Uwl.Admin/Uwl.Attribute/bin
/Uwl.Admin/Uwl.Common/obj
/Uwl.Admin/Uwl.Common/bin
/Uwl.Admin/Uwl.Data.EntityFramework/*
/Uwl.Admin/Uwl.Data.Model/obj
/Uwl.Admin/Uwl.Data.Model/bin
/Uwl.Admin/Uwl.Data.Server/bin
/Uwl.Admin/Uwl.Data.Server/obj
/Uwl.Admin/Uwl.Domain/obj
/Uwl.Admin/Uwl.Domain/bin
/Uwl.Admin/Uwl.Extends/obj
/Uwl.Admin/Uwl.Extends/bin
/Uwl.Admin/Uwl.QuartzNet.JobCenter/obj
/Uwl.Admin/Uwl.QuartzNet.JobCenter/bin
/Uwl.Admin/UwlAPI.Tools/obj
/Uwl.Admin/UwlAPI.Tools/bin
/Uwl.Admin/.vs
/Uwl.Admin/Uwl.ScheduledTask.Job/obj
/Uwl.Admin/Uwl.ScheduledTask.Job/bin
/Uwl.Admin/UwlAPI.Tools/appsettings.json
/Uwl.Admin/UwlAPI.Tools/logs
/Uwl.Admin/UwlAPI.Tools/Properties/PublishProfiles
/Uwl.Admin/MQTest/appsettings.json
/Uwl.Admin/MQTest/obj
/Uwl.Admin/MQTest/bin
/Uwl.Admin/EFCoreAutoMigrationsTodb/bin
/Uwl.Admin/EFCoreAutoMigrationsTodb/obj
/Uwl.Admin/UwlAPI.Tools/Migrations
/Sukt.Core/.vs
/Sukt.Core/src/Sukt.Core.API/obj
/Sukt.Core/src/Sukt.Core.API/bin
/Sukt.Core/src/Sukt.Core.Application/bin
/Sukt.Core/src/Sukt.Core.Application/obj
/Sukt.Core/src/Sukt.Core.Application.Contracts/obj
/Sukt.Core/src/Sukt.Core.Application.Contracts/bin
/Sukt.Core/src/Sukt.Core.AutoMapper/obj
/Sukt.Core/src/Sukt.Core.AutoMapper/bin
/Sukt.Core/src/Sukt.Core.Dtos/obj
/Sukt.Core/src/Sukt.Core.Dtos/bin
/Sukt.Core/src/Sukt.Core.EntityFrameworkCore/obj
/Sukt.Core/src/Sukt.Core.EntityFrameworkCore/bin
/Sukt.Core/src/Sukt.Core.Shared/obj
/Sukt.Core/src/Sukt.Core.Shared/bin
/Sukt.Core/src/Sukt.Core.XunitTest/obj
/Sukt.Core/src/Sukt.Core.XunitTest/bin
