USE [master]
GO
/****** Object:  Database [UwlAdmin]    Script Date: 2019/11/7 9:46:40 ******/
CREATE DATABASE [UwlAdmin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoreCodeFirst', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\UwlAdmin.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CoreCodeFirst_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\UwlAdmin_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UwlAdmin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UwlAdmin]
GO
/****** Object:  User [NT_AUTHORITY/SYSTEM]    Script Date: 2019/11/7 9:46:41 ******/
CREATE USER [NT_AUTHORITY/SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [meng]    Script Date: 2019/11/7 9:46:41 ******/
CREATE USER [meng] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2019/11/7 9:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[TypeName] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Contents] [nvarchar](max) NULL,
	[Others] [nvarchar](max) NULL,
	[OldXml] [nvarchar](max) NULL,
	[NewXml] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[IsDrop] [bit] NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[UpdateName] [nvarchar](50) NULL,
	[Test] [nvarchar](max) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlButtons]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlButtons](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[Memo] [nvarchar](max) NULL,
	[KeyCode] [nvarchar](max) NULL,
	[APIAddress] [nvarchar](max) NULL,
	[ButtonStyle] [nvarchar](max) NULL,
	[MenuId] [uniqueidentifier] NOT NULL,
	[IsShow] [bit] NOT NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_UwlButtons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlMenuButtons]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlMenuButtons](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[MenuId] [uniqueidentifier] NOT NULL,
	[ButtonId] [uniqueidentifier] NOT NULL,
	[APIAddress] [nvarchar](max) NULL,
	[ButtonStyle] [nvarchar](max) NULL,
	[KeyCode] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_UwlMenuButtons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlMenus]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlMenus](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[Memo] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[ParentId] [uniqueidentifier] NOT NULL,
	[Sort] [int] NOT NULL,
	[UrlAddress] [nvarchar](500) NULL,
	[APIAddress] [nvarchar](500) NULL,
	[ParentIdArr] [nvarchar](max) NULL,
 CONSTRAINT [PK_UwlMenus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlRoleGroups]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlRoleGroups](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[Memo] [nvarchar](max) NULL,
	[RoleIds] [nvarchar](max) NULL,
 CONSTRAINT [PK_UwlRoleGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlRoleRights]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlRoleRights](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[MenuId] [uniqueidentifier] NOT NULL,
	[ButtonIds] [nvarchar](max) NULL,
 CONSTRAINT [PK_UwlRoleRights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlRoles]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[Memo] [nvarchar](max) NULL,
	[RoletState] [int] NOT NULL,
 CONSTRAINT [PK_UwlRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlSchedule]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlSchedule](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[JobGroup] [nvarchar](max) NULL,
	[Cron] [nvarchar](max) NULL,
	[AssemblyName] [nvarchar](max) NULL,
	[ClassName] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[RunTimes] [int] NOT NULL,
	[BeginTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[TriggerType] [int] NOT NULL,
	[IntervalSecond] [int] NOT NULL,
	[IsStart] [bit] NOT NULL,
 CONSTRAINT [PK_UwlSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlSysOrganizes]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlSysOrganizes](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[ParentId] [uniqueidentifier] NOT NULL,
	[Depth] [int] NOT NULL,
	[Sort] [int] NOT NULL,
	[OrganizeState] [int] NOT NULL,
	[OrganizeType] [int] NOT NULL,
	[ParentArr] [nvarchar](max) NULL,
 CONSTRAINT [PK_UwlSysOrganizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlUserRoles]    Script Date: 2019/11/7 9:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlUserRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[UserIdOrDepId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UwlUserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlUsers]    Script Date: 2019/11/7 9:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedId] [uniqueidentifier] NULL,
	[CreatedName] [nvarchar](50) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateName] [nvarchar](50) NULL,
	[UpdateId] [uniqueidentifier] NULL,
	[IsDrop] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[Sex] [bit] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[QQ] [nvarchar](max) NULL,
	[Account] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[WeChat] [nvarchar](max) NULL,
	[EmpliyeeType] [int] NOT NULL,
	[EntryDate] [datetime2](7) NULL,
	[JobName] [nvarchar](max) NULL,
	[AccountState] [int] NOT NULL,
	[DepartmentId] [uniqueidentifier] NOT NULL,
	[OrganizeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UwlUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UwlUsersOrganizeRelation]    Script Date: 2019/11/7 9:46:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UwlUsersOrganizeRelation](
	[Id] [uniqueidentifier] NOT NULL,
	[OrgId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IsMain] [bit] NOT NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_UwlUsersOrganizeRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181116015829_migrationName', N'2.1.4-rtm-31024')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181122014828_migra', N'2.1.4-rtm-31024')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181122070436_migratiupdata', N'2.1.4-rtm-31024')
INSERT [dbo].[Log] ([Id], [Title], [TypeName], [IPAddress], [Url], [Contents], [Others], [OldXml], [NewXml], [CreatedDate], [CreatedId], [CreatedName], [IsDrop], [UpdateDate], [UpdateId], [UpdateName], [Test]) VALUES (N'f6188eea-dd8a-4ff1-974c-009b332ee1b0', N'TOkens', N'11', N'::1', NULL, N'用户登陆', N'11', NULL, NULL, CAST(N'2019-02-28T17:51:36.2802196' AS DateTime2), N'1bf0f92b-407f-4ad5-9cca-a67845cec9b7', N'admin', NULL, CAST(N'2019-02-28T17:51:36.2802204' AS DateTime2), N'03c4a512-34e8-4eae-83a9-fac72fe41589', N'admin', NULL)
INSERT [dbo].[Log] ([Id], [Title], [TypeName], [IPAddress], [Url], [Contents], [Others], [OldXml], [NewXml], [CreatedDate], [CreatedId], [CreatedName], [IsDrop], [UpdateDate], [UpdateId], [UpdateName], [Test]) VALUES (N'48e5717c-0f37-4e97-bb2f-00ccb1079160', N'创建TOken', N'11', N'127.0.0.1', NULL, N'用户登陆', N'11', NULL, NULL, CAST(N'2018-11-29T13:39:44.8725088' AS DateTime2), N'9ed82d3c-9a7b-482b-92d4-e0f8f805dd16', N'admin', NULL, CAST(N'2018-11-29T13:39:44.8725096' AS DateTime2), N'0461c1ba-b113-406a-bd5a-1ff578147d73', N'admin', NULL)
INSERT [dbo].[Log] ([Id], [Title], [TypeName], [IPAddress], [Url], [Contents], [Others], [OldXml], [NewXml], [CreatedDate], [CreatedId], [CreatedName], [IsDrop], [UpdateDate], [UpdateId], [UpdateName], [Test]) VALUES (N'35b9a7f4-5dbb-4896-8f33-01a000582dfb', N'创建TOken', N'11', N'101.231.137.225', NULL, N'用户登陆', N'11', NULL, NULL, CAST(N'2019-03-07T13:14:41.5706447' AS DateTime2), N'1c3ebc07-c313-4807-9141-d4375458c117', N'admin', NULL, CAST(N'2019-03-07T13:14:41.5706500' AS DateTime2), N'5627c90c-52a9-452e-a6ac-6689af02f7e5', N'admin', NULL)
GO
INSERT [dbo].[UwlButtons] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [Name], [Memo], [KeyCode], [APIAddress], [ButtonStyle], [MenuId], [IsShow], [Sort]) VALUES (N'3f4f938c-384c-498d-4af0-08d6f87ea475', CAST(N'2019-06-24T16:33:32.7427950' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', CAST(N'2019-10-04T11:41:12.4153929' AS DateTime2), N'admin', N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', 0, N'添加', N'用户管理添加', N'AddModal', N'/api/User/AddUser', N'info,md-add', N'2893214a-bebc-4766-ba54-3820bed1e88d', 1, 0)
INSERT [dbo].[UwlButtons] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [Name], [Memo], [KeyCode], [APIAddress], [ButtonStyle], [MenuId], [IsShow], [Sort]) VALUES (N'3faa061d-8e11-498c-4af1-08d6f87ea475', CAST(N'2019-06-24T16:34:19.2874151' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', CAST(N'2019-10-04T11:41:40.1218184' AS DateTime2), N'admin', N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', 0, N'修改', N'用户管理修改', N'edit', N'/api/User/UpdateUser', N'warning,ios-create-outline', N'2893214a-bebc-4766-ba54-3820bed1e88d', 1, 0)
INSERT [dbo].[UwlButtons] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [Name], [Memo], [KeyCode], [APIAddress], [ButtonStyle], [MenuId], [IsShow], [Sort]) VALUES (N'704940b1-c74d-409c-bf57-08d716ebf6b2', CAST(N'2019-08-02T09:51:40.7750171' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', CAST(N'2019-10-04T22:18:14.9511906' AS DateTime2), N'admin', N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', 0, N'添加', N'菜单管理添加', N'AddModal', N'/api/Menus/AddMenu', N'info,md-add', N'0ef6acf9-5dec-450a-b072-4cc8d7fca130', 1, 0)
INSERT [dbo].[UwlMenuButtons] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [MenuId], [ButtonId], [APIAddress], [ButtonStyle], [KeyCode], [Name]) VALUES (N'653d408b-817c-45a9-2c83-08d709986660', CAST(N'2019-07-16T10:50:45.2385247' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'0ef6acf9-5dec-450a-b072-4cc8d7fca130', N'3f4f938c-384c-498d-4af0-08d6f87ea475', N'', N'', N'Add()', N'添加')
INSERT [dbo].[UwlMenuButtons] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [MenuId], [ButtonId], [APIAddress], [ButtonStyle], [KeyCode], [Name]) VALUES (N'55751677-dc45-4b08-2c84-08d709986660', CAST(N'2019-07-16T10:50:45.2389552' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'0ef6acf9-5dec-450a-b072-4cc8d7fca130', N'3faa061d-8e11-498c-4af1-08d6f87ea475', N'', N'', N'Edit()', N'修改')
INSERT [dbo].[UwlMenuButtons] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [MenuId], [ButtonId], [APIAddress], [ButtonStyle], [KeyCode], [Name]) VALUES (N'5ab0f0ce-dc9d-419e-6f43-08d709bb4d3d', CAST(N'2019-07-16T15:00:46.7667059' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'2893214a-bebc-4766-ba54-3820bed1e88d', N'3f4f938c-384c-498d-4af0-08d6f87ea475', N'', N'', N'Add()', N'添加')
INSERT [dbo].[UwlRoleRights] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [RoleId], [MenuId], [ButtonIds]) VALUES (N'7a68515f-d10d-4b14-575c-08d76322e069', CAST(N'2019-11-07T09:39:40.4815064' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'c4a81038-9c54-4c54-1219-08d74933d1e2', N'2893214a-bebc-4766-ba54-3820bed1e88d', N'3f4f938c-384c-498d-4af0-08d6f87ea475,86d35cc4-1486-4536-4809-08d725519901,5c02e1ae-42e8-439b-5f00-08d73ca3c6ea,3ec18d06-b25a-45be-1b8d-08d742f82f78')
INSERT [dbo].[UwlRoleRights] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [RoleId], [MenuId], [ButtonIds]) VALUES (N'f5fb10d1-84c2-4278-575d-08d76322e069', CAST(N'2019-11-07T09:39:40.4815087' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'c4a81038-9c54-4c54-1219-08d74933d1e2', N'0ef6acf9-5dec-450a-b072-4cc8d7fca130', N'704940b1-c74d-409c-bf57-08d716ebf6b2,54300791-82c1-4c2a-d9d7-08d72602575a,f26e8acc-530a-49c3-ac89-77286304bf28')
INSERT [dbo].[UwlRoleRights] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [RoleId], [MenuId], [ButtonIds]) VALUES (N'04f0723c-af8c-4d2d-575e-08d76322e069', CAST(N'2019-11-07T09:39:40.4815103' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'c4a81038-9c54-4c54-1219-08d74933d1e2', N'e70a9f60-34bd-463a-597a-08d6ed7f2b8c', N'ac78f5eb-86e6-479e-eea4-08d74879b583')
INSERT [dbo].[UwlRoles] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [Name], [Memo], [RoletState]) VALUES (N'2c44f451-dabf-4752-168e-08d6ee366235', CAST(N'2019-08-07T10:53:15.3867840' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', CAST(N'2019-10-04T10:35:21.9127174' AS DateTime2), N'admin', N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', 0, N'管理员角色', N'管理员角色：系统超级管理员，拥有所有的菜单', 0)
INSERT [dbo].[UwlRoles] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [Name], [Memo], [RoletState]) VALUES (N'c4a81038-9c54-4c54-1219-08d74933d1e2', CAST(N'2019-10-05T09:32:00.9257944' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'test1', N'测试角色', 0)
INSERT [dbo].[UwlRoles] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [Name], [Memo], [RoletState]) VALUES (N'9a9080fb-e20e-46e4-19f5-08d7493a7f95', CAST(N'2019-10-05T10:19:49.3559794' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 1, N'test', N'测试删除', 0)
INSERT [dbo].[UwlSysOrganizes] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [Name], [ParentId], [Depth], [Sort], [OrganizeState], [OrganizeType], [ParentArr]) VALUES (N'1bd54047-0ced-4d70-a6d4-08d75dc7b3f3', CAST(N'2019-10-31T14:00:59.4597335' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'前台', N'26354dfe-3af0-438d-939b-08d75d13c0f2', 3, 333, 0, 2, N'["00000000-0000-0000-0000-000000000000","f3977679-81ca-4673-9343-fc9bb0afa72f","26354dfe-3af0-438d-939b-08d75d13c0f2"]')
INSERT [dbo].[UwlSysOrganizes] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [Name], [ParentId], [Depth], [Sort], [OrganizeState], [OrganizeType], [ParentArr]) VALUES (N'f3977679-81ca-4673-9343-fc9bb0afa72f', CAST(N'2019-10-05T09:32:00.9257944' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', CAST(N'2019-11-04T13:26:12.3102606' AS DateTime2), N'admin', N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', 0, N'集团', N'00000000-0000-0000-0000-000000000000', 1, 1, 0, 1, N'["00000000-0000-0000-0000-000000000000"]')
INSERT [dbo].[UwlUserRoles] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [UserIdOrDepId], [RoleId]) VALUES (N'659b63e1-15df-4f76-278d-08d714bcdba9', CAST(N'2019-07-30T15:07:56.8061366' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'2c44f451-dabf-4752-168e-08d6ee366235')
INSERT [dbo].[UwlUserRoles] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [UserIdOrDepId], [RoleId]) VALUES (N'00368976-d627-4251-8dba-08d74934138a', CAST(N'2019-10-05T09:33:51.0344361' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'70883b70-f80a-4a4e-b08c-3ba197ec5a8c', N'c4a81038-9c54-4c54-1219-08d74933d1e2')
INSERT [dbo].[UwlUserRoles] ([Id], [CreatedDate], [CreatedId], [CreatedName], [UpdateDate], [UpdateName], [UpdateId], [IsDrop], [UserIdOrDepId], [RoleId]) VALUES (N'24ba651f-b4f1-4367-84e9-08d749364274', CAST(N'2019-10-05T09:49:28.4992462' AS DateTime2), N'ad73d0f6-33c9-40e3-8c56-f0ec8e35315f', N'admin', NULL, NULL, NULL, 0, N'3c248b83-3306-4210-9571-b876df441e28', N'c4a81038-9c54-4c54-1219-08d74933d1e2')
ALTER TABLE [dbo].[UwlButtons] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [MenuId]
GO
ALTER TABLE [dbo].[UwlButtons] ADD  DEFAULT ((0)) FOR [IsShow]
GO
ALTER TABLE [dbo].[UwlButtons] ADD  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[UwlRoles] ADD  DEFAULT ((0)) FOR [RoletState]
GO
ALTER TABLE [dbo].[UwlSysOrganizes] ADD  DEFAULT ((0)) FOR [Depth]
GO
ALTER TABLE [dbo].[UwlSysOrganizes] ADD  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[UwlSysOrganizes] ADD  DEFAULT ((0)) FOR [OrganizeState]
GO
ALTER TABLE [dbo].[UwlSysOrganizes] ADD  DEFAULT ((0)) FOR [OrganizeType]
GO
ALTER TABLE [dbo].[UwlUsers] ADD  DEFAULT ((0)) FOR [AccountState]
GO
ALTER TABLE [dbo].[UwlUsers] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [DepartmentId]
GO
ALTER TABLE [dbo].[UwlUsers] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [OrganizeId]
GO
USE [master]
GO
