
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

input, button {
    outline: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    overflow: hidden;
}
.mainbody {
    position: absolute;
    height: 100%;
    width: 100%;
    color:white;
}
.welcome-page {
    z-index:1200;
}
.nav-page {
    z-index: 1200;
}
#content {
    position: absolute;
    margin: -50px 0 0 -50px;
    top: 20%;
    left: 50%;
    width: 50rem;
    height: 33rem;
    border: 0.1rem solid #e0e0e0;
    background: #ffffff;
    margin: 5rem auto;
    z-index: 999 !important;
}
    #content .content-body {
        padding: 4rem;
    }
        #content .content-body .dom {
            width: 100%;
            display: block;
        }

            #content .content-body .dom .s1 {
                margin-bottom: 2rem;
            }

            #content .content-body .dom .s1 {
                color: #666666;
            }

                #content .content-body .dom .s1 input {
                    width: 100%;
                    height: 4rem;
                    margin-top: 0.5rem;
                    padding-left: 0.5rem;
                    border: 1px solid #cccccc;
                    border-radius: 0.2rem;
                }
                #content .content-body .dom .check{
                    width: 100%;
                    height: 4rem;
                    margin-bottom: 2rem;
                }
            #content .content-body .dom .s2 {
                margin-bottom: 2rem;
            }

            #content .content-body .dom .btn {
                width: 100%;
                height: 4rem;
                border: none;
                border-radius: 0.2rem;
                font-size: 2rem;
                background-color: #3277fcb8;
                margin-bottom: 2rem;
                color: #ffffff;
            }

            #content .content-body .dom .dom-footer .login-another {
                color: #666666;
                margin-bottom: 2rem;
            }

                #content .content-body .dom .dom-footer .login-another a {
                    color: #3277fcb8;
                }

                #content .content-body .dom .dom-footer .login-another span {
                    margin: 0 0.5rem;
                }

            #content .content-body .dom .dom-footer .login-three {
                color: #666666;
                text-align: center;
            }

        #content .content-body .dom-footer .login-three span {
            position: relative;
        }

            #content .content-body .dom-footer .login-three span::before,
            #content .content-body .dom-footer .login-three span::after {
                content: '';
                display: inline-block;
                width: 10rem;
                height: 0.1rem;
                border-bottom: 1px solid #e0e0e0;
                position: absolute;
                top: 50%;
            }

            #content .content-body .dom-footer .login-three span::before {
                left: 11rem;
            }

            #content .content-body .dom-footer .login-three span::after {
                right: 11rem;
            }

        #content .content-body .dom .dom-footer .login-three .login-icon {
            margin-top: 2rem;
        }

        #content .content-body .dom .dom-footer .login-three .login-icon {
            margin-top: 2rem;
        }

            #content .content-body .dom .dom-footer .login-three .login-icon img {
                width: 5rem;
                margin: 0 1rem;
            }

        #content .content-body .dom .msg-code input {
            width: 49%;
        }

            #content .content-body .dom .msg-code input:last-child {
                color: #666666;
                cursor: pointer;
            }
