@model Sukt.Core.IdentityServer4Store.IdentityServerFour.LoginViewModel
<div id="content">
    <partial name="_ValidationSummary" />
    <div class="content-body">
        <div class="dom">
            @if (Model.EnableLocalLogin)
            {
                <form asp-route="Login">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="s1">
                        @*<label asp-for="Username"></label>*@
                        <input class="name" placeholder="Username" asp-for="Username" autofocus>
                    </div>
                    <div class="s1">
                        @*<label asp-for="Password"></label>*@
                        <input type="password" class="password" placeholder="Password" asp-for="Password" autocomplete="off">
                    </div>
                    @if (Model.AllowRememberLogin)
                    {
                            <div class="check" >
                                <input class="form-check-input" asp-for="RememberLogin">
                                <label class="form-check-label" asp-for="RememberLogin">
                                    Remember My Login
                                </label>
                            </div>
                    }
                <div class="s1">
                    <button class="btn btn-primary" name="button" value="login">Login</button>
                </div>
                </form>

            }
        </div>

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>External Account</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-scheme="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>